# Основной фреймворк для UI
streamlit

# Для работы с данными (поиск, создание фич)
pandas

# Для работы с LLM от Google
google-generativeai

# Для красивого прогресс-бара в скриптах (нужен для create_features.py)
tqdm